* {
    font-family: 'Playpen Sans', cursive;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2459b5;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 530px;
    transition: 0.3s;
    padding: 14px;
}
.container:hover {
    border: 4px solid #24433f;
    border-radius: 4px;
    transition: 0.4s;
}

.buttons {
    display: flex;
}
.attack {
    margin: 5px;
    width: 85px;
    height: 40px;
    padding: 2px;
    background-color: #000;
    border: none;
    transition: 0.3s;
    border-radius: 0px 8px;
}
.attack:hover {
    margin: 5px;
    width: 120px;
    height: 54px;
    padding: 2px;
    background-color: #000;
    border: none;
    transition: 0.2s;
    border-radius: 8px 0px;
    cursor: pointer;
}

#result {
    width: auto;
    height: auto;
    background: #15367d;
    padding: 8px;
    text-align: center;
}

@media(max-width: 520px){
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 470px;
        transition: 0.3s;
        padding: 14px;
    }
    .container:hover {
        border: 3px solid #24433f;
        border-radius: 3px;
        transition: 0.4s;
    }
}